#Pdfs#
########

*.pdf

#Datasets#
#########

*.csv

#Logfiles#
#########

*.log

#Textfiles#
#########

*.txt


#Folders#
#########

.idea/
__pycache__/
image_files/
latex_1/
input/
output/
output_txt/
empty_excels/